{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb", "airbnb-typescript", "prettier"],
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "jsx-a11y/label-has-associated-control": "off"
  }
}
