@import '../../styles/sass/mixins';

.button {
  width: 117px;
  height: 48px;
  background: #00474b;
  border-radius: 5px;
  @include text(36px, $textColor2);
  @include flex(row);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  &:focus {
    background: #26c2ae;
    color: #00474b;
  }
  &:hover {
    background: #9fe8df;
    color: #00474b;
  }
}

.currentBtn{
  width: 117px;
  height: 48px;
  border-radius: 5px;
  @include text(36px, #00474b);
  @include flex(row);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: #26c2ae;
}
