@import '../../styles/sass/mixins';

.wrapper {
  width: 100%;
  @include flex(column);
  @media screen and (max-width: 440px){
    width: 311px;
  }

  .label {
    width: 100%;
    position: relative;
    @include text(24px, $textColor1);
    font-size: 16px;
  }

  .inputBlock {
    position: relative;

    .input {
      top: 27px;
      left: 0;
      background: #f3f9fa;
      border-radius: 5px;
      width: 100%;
      height: 48px;
      padding: 0 17px;
      border: 2px solid #fff;
      @include text(36px, #00474b);
      text-align: right;
      mix-blend-mode: normal;
      box-sizing: border-box;
      cursor: pointer;

      &:focus {
        border: 2px solid #26c2ae;
        outline: none;
      }

      &:hover {
        border: 2px solid #26c2ae;
      }
    }
    .inputWithError{
      border: 2px solid #E17052;
    }
    .dollarIcon {
      position: absolute;
      top: calc(50% - 8px);
      left: 19px;
    }
    .error{
      display:none
    }
    .errorVisible{
      position: absolute;
      top: -21px;
      right: 0;
      @include text(24px, #E17457);
      font-size: 16px;
      visibility: visible;
    }
  }
}
