@import '../../styles/sass/mixins';
.wrapper {
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  height: 71px;
  @media screen and (max-width: 440px) {
    margin: 0;
  }
  .titleBlock {
    .nameTitle {
      @include text(24px, $textColor2);
      font-size: 16px;
      margin: 0;
    }
    .perPerson {
      @include text(19px, #7f9d9f);
      font-size: 13px;
      margin: 0;
    }
  }
  .price {
    @include text(71px, #26c2ae);
    font-size: 48px;
    text-align: right;
    letter-spacing: -1px;
    @media screen and (max-width: 440px) {
      font-size: 32px;
      line-height: 47px;
    }
  }
}
