@import '../../../common/styles/sass/mixins';

.container {
  width: 920px;
  min-height: 481px;
  background: #ffffff;
  box-shadow: 0 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;
  @include flex(row);
  align-items: center;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
  @media screen and (max-width: 930px) {
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }
  @media screen and (max-width: 440px) {
    align-items: center;
  }
  .dataBlock {
    width: 379px;
    min-height: 388px;
    @include flex(column);
    justify-content: space-between;
    @media screen and (max-width: 930px) {
      margin: 32px auto;
      align-items: center;
      width: 350px;
    }
  }
  .resultsBlock {
    width: 413px;
    height: 417px;
    background: #00474b;
    border-radius: 15px;
    @include flex(column);
    justify-content: space-between;
    @media screen and (max-width: 440px) {
      width: 327px;
      height: 257px;
      padding-bottom: 20px;
    }
    .results {
      @media screen and (max-width: 440px) {
        @include flex(column);
        margin: 35px 20px;
      }
    }
    .button {
      width: 80%;
      margin: 0 40px 40px 40px;
      height: 48px;
      background: #26c2ae;
      border-radius: 5px;
      padding: 9px 40px;
      @include text(30px, #00474b);
      font-size: 20px;
      mix-blend-mode: normal;
      border: none;
      cursor: pointer;
      &:hover {
        background: #9fe8df;
      }
    }
    .buttonDisabled {
      background: #0d686d;
      color: #00474b;
      &:hover {
        background: #0d686d;
      }
    }
  }
}
