@import '../../common/styles/sass/mixins';

.container {
  width: 100vw;
  height: 100vh;
  background-color: #c5e4e7;
  @include flex(column);
  justify-content: center;
  align-items: center;
  gap: 90px;
}
