@import './variables';

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin text($lineHeight, $color) {
  font-family: $primaryFontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $color;
}
