@import '../../common/styles/sass/mixins';

.wrapper {
  margin: 40px 0;
  max-width: 100%;
  @media screen and (max-width: 440px) {
  }

  .title {
    @include text(24px, $textColor1);
    font-size: 16px;
  }

  .tipsTypes {
    margin-top: 16px;
    @include flex(row);
    gap: 14px;
    flex-wrap: wrap;
    @media screen and (max-width: 440px) {
      width: calc(100vw - 60px);
      justify-content: space-between;
      overflow: hidden;
    }

    .input {
      width: 87px;
      height: 48px;
      background: #f3f9fa;
      border-radius: 5px;
      text-align: right;
      @include text(36px, #00474b);
      cursor: pointer;
      border: 2px solid #fff;
      padding: 0 13px;

      &:hover {
        border: 2px solid #26c2ae;
        border-radius: 5px;
      }

      &:focus {
        border: 2px solid #26c2ae;
        border-radius: 5px;
        outline: none;
      }

      @media screen and (max-width: 440px) {
        width: 121px;
      }
    }
  }
}
